<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>购物车</title>
    <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script> -->
    <style>
      .active {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2 :title="title">{{title}}</h2>
      <input type="text" v-model="course" v-on:keydown.enter="addCourse" />
      <button @click="addCourse">add</button>
      <button @click="courses=[]">clear</button>
      <div
        v-for="c in courses"
        :key="c"
        @click="active=c"
        :style="{backgroundColor: (active === c? '#ddd' : 'transparent')}"
      >
        {{ c }}
      </div>
      <p>{{total}}</p>
    </div>
    <script type="text/javascript">
      function getCourses() {
        return new Promise((resolve) => {
          setTimeout(() => {
            resolve(["web全栈", "web高级"]);
          }, 2000);
        });
      }
      const app = new Vue({
        el: "#app",
        data() {
          return {
            title: "开课吧购物车",
            active: "",
            course: "",
            courses: [],
          };
        },
        async created() {
          const courses = await getCourses();
          this.courses = courses;
        },
        computed: {
          total() {
            return this.courses.length + "门";
          },
        },
        methods: {
          addCourse() {
            if (this.course) {
              this.courses.push(this.course);
              this.course = "";
            }
          },
        },
      });
    </script>
  </body>
</html>
